<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
	<body>
    	<p>Hello <%=user%>, you're now in the user page!</p> 
    	
        <a href= "logout/">Log out</a> <span>   </span><a href = "follow/">Follow</a> <br><br>

    	<form action="freet" method="post">
    		New freet:<br>
    		<textarea rows="4" cols="50" name="comments" placeholder="Enter text here ..."></textarea><br>
    		<input type="submit" value="Submit">
    	</form>
    	<br>

        <div>
            <% for (var i = 0; i<individuals.length; i++){ %>
                <div>
                    <% if (followed.indexOf(individuals[i].username) > -1 || individuals[i].username == user) {%>
                        <form action="change" method="post">
                            <span><%= individuals[i].username%></span><br>
                            <span><%= individuals[i].post %></span>
                            <% if (individuals[i].username == user) { %>
                                <input type="submit" name="editdelete" value="edit/delete">
                            <%}%>
                            
                            <input type="hidden" name="id" value=<%=individuals[i]._id.valueOf()%>>
                            <input type="submit" name="favorite" value=
                            <% if (individuals[i].favorite.indexOf(user) > -1){ %>
                                "unfavorite"
                            <%} else {%>
                                "favorite"
                            <%}%>
                            ><br>

                            <span>Favorite: <%=individuals[i].favorite.length%><% if (individuals[i].favorite.length>0){ %>, by <%=individuals[i].favorite.join(", ")%><%}%>
                            </span>

                        </form>
                    <%}%>
                </div><br>
            <%}%>
        </div>
  	</body>
</html>